/*
Alunos:
Filipe Campos
Andrea Matsunaga
Marcos Araujos
 */


:root {
    --primarycolor:#9c1616;
    --secundarycolor:#666;
  }

  /* ----------------------------------------- */
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.bg-gil{
    background-color: var(--primarycolor);
}

h1{
    color:var(--primarycolor);
    font-size: 1.51em;
}
.card-img{
    min-height: 400px;
}
.slide-gil{
    height:700px;
}
.slide1{
background-image: url(../img/Frente.jpg);
height:700px;
background-attachment: fixed;
background-repeat: no-repeat;
padding-top:15%
}
.slide2{
  background-image: url(../img/DSC_0148-001.JPG);
  height:700px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding-top:15%
}
.slide3{
  background-image: url(../img/Barroca.JPG);
  height:700px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding-top:15%
}
.btn-banner{
background-color:var(--primarycolor);
color: #fff;
padding: 10px 20px 10px 20px;
border: solid 2px;
margin-top: 50px;
}
.tit-banner{
font-size:3em;
color: #fff;
width: 50%;
margin: auto;
}
.card:hover{
margin: auto;
width: 700px;
height:700px;
scale:1;
z-index:1;
}
.btn-grid{
  padding: 10px 20px 10px 20px;
  background-color:var(--primarycolor);
  color: #fff;
}
.btn-grid > a{
  color: #fff;
}

.btn-grid:hover{
  background-color:var(--secundarycolor);
}