/* Check Point 01 - Front end II
Professor: IVIN
Autores: Filipe Campos Fontes | Adilane Pereira | Fernada Brum */

/* =====================================
CSS Body
========================================= */
*{
    color: #fff;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #000;
}

.title-page-top{
    margin: 20px 0;
    text-align: center;
}

#content{
    display: flex;
    gap: 20px;
    max-width: 1080px;
    padding: 20px;
    margin: auto;
}

/* =====================================
CSS Formulario de Input Post
========================================= */

.form-input-post{
    min-width: 250px;
    background-color: #15172B;
    border-radius: 20px;
    padding: 20px;
}

.form-input-post > h2{
    text-align: center;
    margin-bottom: 30px;
}

.field-control{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.field-control > input{
    height: 2rem;
    border-radius: 10px;
    border: none;
    padding-left: 1rem;
    background-color: #303245;
}

#submit-btn{
    width: 100%;
    color: #000;
    height: 2rem;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    background-color: aqua;
}
#submit-btn:hover{
    filter: brightness(0.8);
    cursor: pointer;
}

/* =====================================
CSS Post
========================================= */

#posts{
    width: 100%;
    background-color: #15172B;
    border-radius: 20px;
    padding: 20px;
    max-height: calc(100vh - 160px);
    overflow-y: auto;
}
#posts > h2{
    margin-bottom: 30px;
}
.post{
    display: flex;
    gap: 20px;
    padding: 10px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #323564;
}
.post-image > img{
    width: 200px;
    height: 150px;
    object-fit: cover;
}
.post-title{
    margin-bottom: 10px;
}

/* =====================================
Responsivo @media Mobile
========================================= */

@media (max-width: 830px){
    #content{
        flex-wrap: wrap;
    }
    #posts{
        max-height: initial;
    }
    .form-input-post{
        width: 100%;
    }
    .post{
        flex-direction: column;
    }
    .post-image > img{
        width: 100%;
        height: 150px;
        object-fit: cover;
    }
}
